* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .content {
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #b32323;
    margin-bottom: 20px;
  }
  
  .error-message {
      color: #b32323;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 1.1rem;
    color: #f1773e;
    margin-bottom: 5px;
    display: block;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ca5527;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .submit-button {
    background-color: #c45a14;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #b13009;
  }
  